.clearer {
	clear: both;
}

.randomNumber, .scoreBoard {
	float: left;
}

.randomNumber {
	width: 200px;
	height: 100px;
	background-color: green;
	color: white;
	font-size: 40px;
}

.scoreBoard {
	width: 100px;
	height: 100px;
	background-color: #eee;
	color: black;
}

.crystals > img {
	border: 2px solid black;
}

.finalResult {
	width: 100px;
	height: 100px;
	background-color: lightblue;
	color: white;
	font-size: 40px;
}